<!DOCTYPE html>
<html lang='en' ng-app='gitstuff'>
    <head>
        <meta charset='utf-8'>
        <title>GitStuff</title>
    </head>
    <body>
        <h1>GitStuff</h1>

        <nav ng-controller='NavController as nav'>
            <ul>
                <li><a ui-sref='home'>Home</a></li>
                <li ng-if='!nav.isLoggedIn()'><a ui-sref='login'>Login</a></li>
                <li ng-if='nav.isLoggedIn()'><a ng-click='nav.logout()'>Logout</a></li>
                <li ng-if='nav.isLoggedIn()'><a ui-sref='repoList'>Repo List</a></li>
            </ul>
        </nav>

        <main ui-view></main>

        <footer>
            <p>&copy; me</p>
        </footer>

        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js'></script>
        <script src='js/gitstuff.module.js'></script>

        <script src='js/repolist.controller.js'></script>
        <script src='js/RepoDetail.controller.js'></script>
        <script src='js/login.controller.js'></script>
        <script src='js/nav.controller.js'></script>
        <script src='js/repo.service.js'></script>

    </body>
</html>
