
<h2>List of Repos</h2>

<p>Here is a list of repos search by the term "jquery"</p>

<aside style='border:1px solid red;' class='single-detail-view' ui-view></aside>

<section class='all-repos'>
    <single-repo
        ng-repeat='repo in repoList.repos'
        thethingtoshow='repo'>
    </single-repo>
</section>

<!-- <article ng-repeat='repo in repoList.repos'>
    <h3>
        <a ui-sref='repoList.detail({ user: repo.owner.login, reponame: repo.name })'>{{repo.name}}</a>
    </h3>
    <cite>by {{repo.owner.login}}</cite>
    <h4>Forks: {{repo.forks}}</h4>
</article> -->
